
/*---- Style Navbar  -----*/

*{
    font-family: 'Poppins', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main {
    background-color: rgb(156, 161, 161);
    min-height: 100vh;
    overflow: hidden;
}

.icon-nav {
    position: relative;
    color: #8BACAA
}

.icon-nav:hover {
    color: white
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 11px;
    top: 10px;
    right: 78px;
}

section {
    min-height: 70vh;
}

/*---- Style Footer -----*/
footer {
    background-color: #0174BE;
    color: white;
    position: static;
    bottom: 0;
}

/*--- Sidebar ---*/
.sidebar{
    position: fixed;
    width: 250px;
    height: 97vh;
}

.sidebar a{
    text-decoration: none;
    color: white;

}

.sidebar li {
    list-style: none;
    padding: 10px 5px;
}

.sidebar li:hover {
    background-color: rgb(129, 127, 127) ;
    border-radius: 10px;
    margin: 0;

}

.sidebar h5{
    font-size: 24px;
    font-weight: 800;
    color: white;
    text-align: center;
}
